{% extends 'base.html.twig' %}

{% block body %}
    <h1>Select</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ select.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ select.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_select_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_select_edit', { 'id': select.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
