{% extends 'DGInventarioBundle:Layout:layout.html.twig' %}

{% block contenido %}
    <h1>UsuarioSistema list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombre</th>
              {#  <th>Salt</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuarioSistema in usuarioSistemas %}
            <tr>
                <td><a href="{{ path('admin_usuario_show', { 'id': usuarioSistema.id }) }}">{{ usuarioSistema.id }}</a></td>
                <td>{{ usuarioSistema.username }}</td>
                <td>{{ usuarioSistema.persona }}</td>
               {# <td>{{ usuarioSistema.password }}</td>#}
                {#<td>{{ usuarioSistema.salt }}</td>#}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_usuario_show', { 'id': usuarioSistema.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_usuario_edit', { 'id': usuarioSistema.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_usuario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
