{#{% extends 'DGInventarioBundle:Layout:layout2.html.twig' %}#}

{% block contenido %}

    {#<h1>UsuarioSistema creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_usuario_index') }}">Back to the list</a>
        </li>
    </ul>#}
    
    
   {# <div class="panel panel-default">#}
  <!-- Default panel contents -->
  {#<div class="panel-heading"><p>Usuario</p></div>#}
  <div class="panel-body">
  {{ form_start(form, {'action': path('admin_usuario_new')}) }}
    {{ form_errors(form) }}
   
 {#<div class="row"> #}
     
     <div class="row">
               <div class="col-md-12">
                  <h3 class="text">Informacion personal</h3>
                  <hr>
                </div>
      </div> 

   {% include 'DGInventarioBundle:Persona:form.html.twig' with { 'form': form.persona }%}  
   
{#   <div class="col-md-6" style="margin-top: 40px;">
    {{ form_row(form.file) }}
   </div>#}
   
   
   
                <div class="col-md-6" style="margin-top: 30px;">
                  <div class="form-group">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail bg-light" data-trigger="fileinput" style="width: 200px; min-height: 100px"></div>
                      <div>
                        <span class="btn btn-primary btn-file">
                          <span class="fileinput-new">Seleccione imagen</span>
                          <span class="fileinput-exists">Cambiar</span>
{#                          <input type="file" name="...">#}
{#<input id="usuario_sistema_file" name="usuario_sistema[file]" class="fotoUsuario" type="file">#}
                             {{ form_widget(form.file,{'attr':{'name':'...'}}) }}
                        </span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                      </div>
                    </div>
                  </div><!-- /.form-group -->
                </div><!-- /.cols -->
   
   
   
   <div class="row">
               <div class="col-md-12" >
                  <h3 class="text">Informacion de usuario</h3>
                  <hr>
                </div>
      </div> 

    
          <div class="col-md-4">
        {{ form_row(form.username) }}
         </div> 
          <div class="col-md-4">
        {{ form_row(form.password.first) }}
         </div>  
         <div class="col-md-4">
        {{ form_row(form.password.second) }}
         </div>  
         
         
        
         <div class="clearfix"></div>
         <div class="col-md-5 text" style="margin-top: 40px;">
                Seleccione un rol:
         </div>
         <div class="col-md-12 text-center" style="margin-bottom: 4px;">
                {{ form_widget(form.user_roles) }}
         </div>
         {# <div class="col-md-4">
        {{ form_row(form.password.second) }}
         </div> #}
        
         {#<div class="col-md-12">
        {{ form_row(form.salt) }}
         </div>  #}
     
{# </div> #}
          <div class="container-fluid" >
             <div class="form-grouphide col-sm-12" style="">
               <div class="text-center" style="margin-top: 30px;">  <a href="{{ path('admin_usuario_index') }}">Cancelar</a>
                <input type="submit" class="btn btn-default" value="Guardar" />
               </div>
              </div>
          </div>
            
      
  
    {{ form_end(form) }}
  </div>


{#</div>#}
    

{% endblock %}

{% block javascripts_step %}
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script> 
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
   <script src="{{ asset('Resources/js/ValidarUsuario.js') }}"></script>
   
    <script>
       
        $(document).ready(function(){
                    
                    
                ValidarUsuario1();   
         });

    </script>
                    
{% endblock %}
