{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo de cuenta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoCuentum.id }}</td>
            </tr>
            <tr>
                <th>Nombrecuenta</th>
                <td>{{ tipoCuentum.nombreCuenta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tipocuenta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tipocuenta_edit', { 'id': tipoCuentum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
