{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persona list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Fijo</th>
                <th>Direccion</th>
                <th>Foto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
                <td>{{ persona.nombres }}</td>
                <td>{{ persona.apellidos }}</td>
                <td>{{ persona.correo }}</td>
                <td>{{ persona.celular }}</td>
                <td>{{ persona.fijo }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.foto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_persona_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
