{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProductoTrasaccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productoTrasaccion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ productoTrasaccion.fecha }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ productoTrasaccion.cantidad }}</td>
            </tr>
            <tr>
                <th>Tipotransaccion</th>
                <td>{% if productoTrasaccion.tipoTransaccion %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_productotransaccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_productotransaccion_edit', { 'id': productoTrasaccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
