<aside class="sidebar" role="complementary">
<!-- profile -->
<div class="sidebar-block">
  <div class="media">
    <div class="media-left">
      <a href="page-profile.html">
      {#  <span class="status dotted dotted-primary" data-toggle="tooltip" data-container="body" title="available"></span>#}
        {% block imagenPerfil %}
            <img class="media-object img-circle" src="{{ asset('Photos/Empleado/') }}{{app.user.persona.foto}}" alt="photo profile">
        {% endblock %}
      </a>
    </div>
    {% block perfil %}
        <div class="media-body">
            <h5 class="media-heading" style="margin-bottom: 0px;">{{app.user.persona.nombres}} {{app.user.persona.apellidos}}</h5>  <!-- nombre de usuario conectado -->
            <p class="text-muted">
                <small>Back-end Developer</small>
            </p>
        </div>

    {% endblock %}
  </div>
</div><!-- /.sidebar-block -->
<!-- /profile -->

<!-- /navigation -->
<div class="nav-wrapper">
  <ul class="nav nav-stacked" role="navigation">
    <li class="nav-item" role="presentation">
      <a href="">
        <span class="nav-icon"><i class="fa fa-object-group"></i></span>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>

   
   
    <li class="divider"></li>
    <li class="nav-header text-uppercase" role="presentation">CUENTAS</li>
    
        <li class="nav-item" role="presentation">
          <a href="{{ path('admin_cuenta_index') }}">
            <span class="nav-icon"><i class="fa fa-user"></i></span>
            <span class="nav-text">Listado Clientes</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="#">
            <span class="nav-icon"><i class="fa fa-users"></i></span>
            <span class="nav-text">Listado Proveedores</span>
          </a>
        </li>
        
    <li class="divider"></li>
    <li class="nav-header text-uppercase" role="presentation">INVENTARIO</li>
   
   
        <li class="nav-item" role="presentation">
          <a href="{{ path('admin_producto_index') }}">
            <span class="nav-icon"><i class="fa fa-list"></i></span>
            <span class="nav-text">Listado de Inventario</span>
          </a>
        </li>
        
        <li class="nav-item" role="presentation">
          <a href="{{ path('admin_catproducto_index') }}">
            <span class="nav-icon"><i class="fa fa-edit"></i></span>
            <span class="nav-text">Administrar categorias</span>
          </a> 
        </li>
        
        <li class="nav-item" role="presentation">
          <a href="#">
            <span class="nav-icon"><i class="fa fa-industry"></i></span>
            <span class="nav-text">Administrar Atributos</span>
          </a>
        </li>
        
        <li class="nav-item" role="presentation">
          <a href="{{ path('admin_sucursal_index') }}">
            <span class="nav-icon"><i class="fa fa-home"></i></span>
            <span class="nav-text">Sucursales</span>
          </a>
        </li>
         <li class="nav-item" role="presentation">
          <a href="{{ path('admin_zona_index') }}">
            <span class="nav-icon"><i class="fa fa-home"></i></span>
            <span class="nav-text">Zonas</span>
          </a>
        </li>
    
    <li class="divider"></li>
    <li class="nav-header text-uppercase" role="presentation">ORDENES
        
        <li class="nav-item" role="presentation">
          <a href="#">
            <span class="nav-icon"><i class="fa fa-list-alt"></i></span>
            <span class="nav-text">Cotización</span>
          </a>
        </li>
        
        <li class="nav-item" role="presentation">
          <a href="#">
            <span class="nav-icon"><i class="fa fa-money"></i></span>
            <span class="nav-text">Facturacion</span>
          </a>
        </li>
        
        <li class="nav-item" role="presentation">
          <a href="#">
            <span class="nav-icon"><i class="fa fa-shopping-cart"></i></span>
            <span class="nav-text">Ordenes a Proveedores</span>
          </a>
          </ul>  
        </li>
   

        <li class="collapse-item" role="presentation">
          <a href="#" data-sidebar="toggleCollapse">
            <i class="fa fa-angle-double-left"></i>
          </a>
        </li>
   
    
  </ul>
</div>
</aside><!-- /.SIDEBAR -->
