{#{% extends 'base.html.twig' %}#}

{% block contenido %}
    
    
 {{ form_start(edit_form, {'action': path('admin_conftax_edit',{'id':confTax.id})}) }}   
    
   
 {{ form_errors(edit_form) }}
   <div class="row" style="margin: 50px 0;">
    {# <div class="col-md-5 text-right" style="margin-bottom: 4px;">
           Nombre:
     </div>#}
     <div class="col-md-12">
         {{ form_row(edit_form.nombreTax) }}
     </div>
      <div class="col-md-12">
         {{ form_row(edit_form.numeroRegistro) }}
     </div>
      <div class="col-md-12">
         {{ form_row(edit_form.porcentaje) }}
     </div>
    </div> 
     
     
   <div class="container-fluid" >
      <div class="form-grouphide col-sm-12" style="">
          <div class="text-center" style="margin-top: 30px;"> {{ form_widget(edit_form) }} <a href="{{ path('admin_conftax_index') }}">Cancelar</a>
             <input id="" type="submit" class="btn btn-default" value="Editar" />
          </div>
      </div>
   </div>       
     
 {#
    <h1>ConfTax edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_conftax_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}

{% block javascripts_step %}
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script> 
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
   <script src="{{ asset('Resources/js/ValidarConfTax.js') }}"></script>
   
    <script>
       
        $(document).ready(function(){
                                       
                ValidarConfTax1();   
         });

    </script>
                    
{% endblock %}
