
<div class="col-md-6">
{{ form_row(edit_form.nombres) }}
</div>

<div class="col-md-6">
{{ form_row(edit_form.apellidos) }}
</div>

<div class="col-md-6">
{{ form_row(edit_form.correo) }}
</div>
<div class="col-md-6">
{{ form_row(edit_form.celular) }}
</div>

<div class="col-md-6">
{{ form_row(edit_form.fijo) }}
</div>
<div class="col-md-6">
{{ form_row(edit_form.direccion) }}
</div>
{#<div class="col-md-6">
{{ form_row(form.file) }}
</div>#}