<div class="col-md-6">
{{ form_row(form.nombres) }}
</div>

<div class="col-md-6">
{{ form_row(form.apellidos) }}
</div>

<div class="col-md-6">
{{ form_row(form.correo) }}
</div>
<div class="col-md-6">
{{ form_row(form.celular) }}
</div>

<div class="col-md-6">
{{ form_row(form.fijo) }}
</div>
<div class="col-md-6">
{{ form_row(form.direccion) }}
</div>
{#<div class="col-md-6">
{{ form_row(form.file) }}
</div>#}
