{% extends 'DGInventarioBundle:Layout:layout.html.twig' %}

{% block contenido %}
    <h1>Localidad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alias</th>
                <th>Direccion1</th>
                <th>Direccion2</th>
                <th>Ciudad</th>
                <th>Provinciaestado</th>
                <th>Postalzip</th>
                <th>Paisid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localidad in localidads %}
            <tr>
                <td><a href="{{ path('admin_localidad_show', { 'id': localidad.id }) }}">{{ localidad.id }}</a></td>
                <td>{{ localidad.nombre }}</td>
                <td>{{ localidad.alias }}</td>
                <td>{{ localidad.direccion1 }}</td>
                <td>{{ localidad.direccion2 }}</td>
                <td>{{ localidad.ciudad }}</td>
                <td>{{ localidad.provinciaEstado }}</td>
                <td>{{ localidad.postalZip }}</td>
                <td>{{ localidad.paisId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_localidad_show', { 'id': localidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_localidad_edit', { 'id': localidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_localidad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
