{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zona</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zona.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ zona.nombre }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ zona.alias }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ zona.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_zona_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_zona_edit', { 'id': zona.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
